# about the variables

varaible-----which contain the values or data

# syntax 
varaible_name=value

In [1]:
t=7

In [2]:
t

7

In [3]:
print(t)

7

In [ ]:
# to run the code use shift+enter

In [5]:
id(t)

140711619040256

In [6]:
#id(varaible_name)----gives the memory address

In [7]:
#if two varaibles have same values then memory location is same
#if they are different they different locations

In [9]:
a=1

In [10]:
b=2

In [11]:
print(a+b)

3

In [12]:
print(a-b)
print(a*b)
print(a/b)

-1
2
0.5

In [13]:
#if we want datatype of varaible then use
#type(varaible_name)

In [14]:
type(a)

int

In [15]:
t="tagore"

In [16]:
t

'tagore'

In [17]:
type(t)

str

In [18]:
r=2.67

In [19]:
type(r)

float

#three rules to declare the varaibles 
1.no gaps or no spaces in between varaible names
eg: full name = " tagore "-----wrong syntax
    full_name="tagore"-----right syntax


2.Varaible name doesn't start with any numeric value
eg: 7name="tenet"-----wrong syntax
    name7="tenet"---correct way


3.No special characters should be used in the beginning expect underscore(_)
eg: $toy="doll"----wrong syntax
    _toy="iron_man"--- correct syntax
     toy="bat_mobile"-----correct syntax

# Introduction to data types in Python

1.strings----->str

2.lists---->list

3.tuple---->tuple

4.dictonary---->dict

5.set----->set

In [20]:
#string ------it is series of characters///group of characters

####how to declare strings
by using   '',"",''''''------ strings can be declared
eg:
    'tagore'
    "tagore"
    '''tagore'''

#properties of string
string is immutable data----->it doesn't change after declaring the values
eg:
    a="iron_man"
    # we can't change the string

In [21]:
print("Python is the best programming lanuage")

Python is the best programming lanuage

In [22]:
print("tony starc invention's are best")

tony starc invention's are best

##two types of comment
1.single value comment
eg:
    #i am one undone
    
2.multiline comment
eg:
    """
    i am the best
    nolan films are best
    uk accent is best accent
    """

#methods to print strings
1.title()
2.upper()
3.lower()

In [29]:
name="batman"
print(name)
print(name.title())
print(name.upper())
print(name.lower())

batman
Batman
BATMAN
batman