In [1]:
print('welcome all \n good evening')

welcome all
 good evening

In [4]:
###adding with white spaces

In [ ]:
#\t-tab space,\n- new line-

In [3]:
print("\tpython")

	python

In [5]:
print(ovies:\ntenet\nbatman\nfollowing')'m

movies:
tenet
batman
following

In [6]:
#enhancement of code

In [10]:
print('movies:\n\ttenet\n\tbatman\n\tfollowing')

movies:
	tenet
	batman
	following

In [11]:
fav_movie=' batman'     ## extra spacing in the beggining

In [12]:
fav_movie

' batman'

In [13]:
print(fav_movie)

 batman

In [14]:
print(fav_movie.lstrip())     # for removing  spaces use strip

batman

In [15]:
##integers operation without varaibles

In [16]:
4+5

9

In [17]:
10-5

5

In [18]:
7*1

7

In [19]:
7**2 #square

49

In [20]:
7**3   #cube

343

In [21]:
t=5**7
t
type(t)

int

In [22]:
t

78125

In [23]:
t=1.22+6.55
t

7.77

In [24]:
type(t)

float

In [25]:
f=1.4+5        ###combination of int and float is always float

In [26]:
f

6.4

In [27]:
type(f)

float

In [28]:
a,b,c=7,7,7

In [29]:
print(a,b,c)

7 7 7

# List Datatype

####List is a datatype///data structure 

### it is declared in[]

## each element in the list is called as item

properties of list

1.list is mutable datatype

#mutable-----it can be changed after declaration

2.use---- list is used single variables in multi item

list vs array

array---- collection of same data type

list-----collection of multiple data types

In [30]:
t=['n',8,9,'h']
f=[[1,2],5,6]

###index positions starts from zero always

In [32]:
print(t)
print(f)

['n', 8, 9, 'h']
[[1, 2], 5, 6]

In [33]:
t[0]

'n'

In [34]:
t[0]="B"           #replacement 
print(t)

['B', 8, 9, 'h']

In [35]:
f[2]

6

In [36]:
#### pop the elements
#syntax----list_name.pop()

In [37]:
t.pop()

'h'

In [38]:
t.pop(2)

9

In [39]:
t

['B', 8]

In [41]:
len(f)        #len----length of list

3

In [42]:
avengers=["iron_man","thor","hulk","black_widow"]

In [43]:
print(avengers)

['iron_man', 'thor', 'hulk', 'black_widow']

In [44]:
avengers[2]

'hulk'

In [45]:
avengers[2].title()

'Hulk'

In [46]:
avengers[1].upper()

'THOR'

In [47]:
avengers[3].lower()

'black_widow'